.network-request {
  width: 30%;
  padding: 20px;
  margin-top: 30px;
  max-width: var(--xl-max-width);
  .no-have-request {
    padding: 20px;
  }
  .container {
    .header {
      margin-left: 20px;
      padding-top: 10px;
    }
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
  }
}

.network {
}

.request-people {
  padding: 20px;
  .name {
  }
  .text {
    margin-bottom: 3px;
  }
  .btn {
    margin-top: 3px;
  }
  button + button {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 821px) {
  .network-request {
    width: 90%;
  }
}
