.user-might-know {
  h2 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .user {
    text-align: center;
    font-weight: 400;
  }
  img {
    width: 200px;
    height: 200px;
  }
  h3 {
    margin-top: 10px;
    font-weight: 500;
  }
  .user-container {
    margin: 5px 20px;
  }
  button {
    margin-top: 10px;
    height: 30px;
    margin-bottom: 10px;
  }
}
