.notification-container {
  height: fit-content;
  border-radius: 10px;
  width: 20%;
  max-width: var(--xl-max-width);
  .nothaveany {
    padding-bottom: 5px;
  }
  .header {
    margin-bottom: 13px;
  }
  .notification-card {
    border-top: 0.5px solid rgba(168, 168, 168, 0.545);
    padding: 5px 0px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      background-color: rgb(232, 241, 255);
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .txt {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
    }
  }
  .second-button {
    position: relative;
    z-index: 50;
    margin-left: 10px;
    min-width: 30px;
  }
  .link {
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      background-color: red;
    }
  }
}

@media only screen and (max-width: 821px) {
  .notification-container {
    width: 90%;
    margin-top: 20px;
  }
}
