.navbar{
   width: 100%;

   .container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
   }

  img {
    width: fit-content;
    height: fit-content;
  }

   .left{
    display: flex;
      img{
        cursor: pointer;
        width: 120px;
      }
      .logout{
        margin-left: 10px;
      }
      input{
        margin-left: 10px;
      }
   }

   .right{
    display: flex;

      .menu + .menu{
        margin-left: 10px;
      }
   }
}

.menu{
  .contain{
    display: flex;
    flex-direction: column;
  }
  .svg{
    width: 30px;
    height: 30px;
  }
  .text{
    font-size: 10px;
    text-align: center;
  }

  .image{
    border-radius: 50%;
  }
}