.navbar{
   width: 100%;

   .container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
   }

  img {
    width: fit-content;
    height: fit-content;
  }

   .left{
    display: flex;
      img{
        cursor: pointer;
        width: 120px;
      }

      input{
        margin-top: 3px;
        margin-left: 10px;
        border: 1px solid rgba(58, 58, 58, 0.719);
      }
   }

   .right{
    display: flex;
      .logout{
        margin-right: 20px;
        button{
            padding: 10px;
        }
      }
      .menu + .menu{
        margin-left: 30px;
      }
   }
}

.menu{
  .contain{
    display: flex;
    flex-direction: column;
  }
  .svg{
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
  .text{
    font-size: 10px;
    text-align: center;
  }

  .image{
    border-radius: 50%;
  }
}