.forget-password{
  width: 100%;
  .container{
    h1{
      margin-bottom: 5px;
    }
    p{
      margin-bottom: 20px;
    }
    position: fixed;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    form{
      label{
        margin-bottom: 3px;
        font-size: 13px;
      }
      padding: 30px;
      input{
        margin-bottom: 10px;
        
      }
      button{
        padding: 10px;
        margin-top: 5px;
      }
      .backbtn{
        margin-top: 5px;
        background-color: transparent;
        color: black;
      }
    }
  } 
}