.message-container {
  display: flex;
  justify-content: center;

  .message {
    width: 30%;
    .flex {
      margin-left: 20px;
      padding-top: 20px;
      display: flex;
      input {
        background-color: transparent;
      }
    }
  }
  display: flex;
  .message-user {
    padding: 20px;
    border-top: 1px solid rgba(56, 56, 56, 0.204);
    &:hover {
      cursor: pointer;
      background-color: rgba(211, 211, 211, 0.463);
    }
  }
  .chat {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 30px;
    .image-icon {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      cursor: pointer;
    }
    input {
      width: 80%;
    }
    button {
      margin-top: 3px;
      margin-left: 10px;
      height: 35px;
    }

    .chat-container {
      .phone-icon {
        margin-right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      padding: 20px;
      overflow-y: scroll;
      height: 800px;
    }
  }
}

.msg-container {
  vertical-align: center;
  img {
    max-width: 500px;
    max-height: 500px;
  }
}
