.post-card {
  width: 100%;

  width: 100%;
  height: fit-content;
  position: relative;

  .padding {
    padding: 10px;
  }

  .text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
  }
  .border {
    width: 100%;
  }
  .post-extras {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    .love {
      margin-top: 3px;
      height: 10px;
      color: rgb(255, 61, 84);
    }
    .sends {
      margin-left: 10px;
    }
  }
  .rich-text {
    text-align: left;
  }
  .header {
    display: flex;
    position: relative;
    cursor: pointer;
    transition: all 1s ease;
    .header-hover {
      position: absolute;
      top: 0;
      left: -173px;
      transition: all 0.3s ease;
      padding: 10px;
      .email {
        font-size: 13px;
      }
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .header-desc {
      margin-left: 10px;
    }
  }
  img {
    width: fit-content;
    height: fit-content;
  }
  .post-width {
    margin: 0 auto;
    .post-icon {
      cursor: pointer;
    }
    .icon {
      margin-right: 10px;
    }
  }
  .my-border {
    width: 100%;
    margin: 10px 0px;
    border-bottom: 1px solid rgba(156, 156, 156, 0.365);
  }
  .my-comment {
    margin-top: 20px;
    max-height: 40px;
    margin-bottom: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    input {
      margin-left: 10px;
      width: 100%;
      border-radius: 50px;
      background-color: transparent;
    }
  }

  .comment-container {
    .comment-replies-load-more {
      cursor: pointer;
      font-size: 14px;
    }
    .load-more {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .submit-reply {
      margin-left: 30px;
      padding: 5px;
      border-radius: 10px;
      input {
        background-color: transparent;
      }
    }
    text-align: left;
    .reply-icon {
      cursor: pointer;
      margin-left: 10px;
    }
    .comment-replies {
      .reply-like {
        width: 10px;
        height: 10px;
        font-size: 3px;
      }
      .reply-like-number {
        font-size: 10px;
        margin-left: 1px;
      }
      margin-top: 3px;
      margin-left: 60px;
      .the-comment-reply {
        width: fit-content;
        margin-top: 10px;
        height: fit-content;
        img {
          border-radius: 50%;
          width: 20px;
          height: 20px;
        }
        font-size: 13px;
        border-radius: 10px;
        padding: 5px 7px;
      }
    }
    .user-like {
      cursor: pointer;
    }
    .user-comment {
      .likes-count {
        font-size: 13px;
      }
      .icon-heart {
        width: 10px;
        height: 10px;
        margin-right: 1px;
      }
      margin-top: 10px;
      #comment-text {
        border-radius: 10px;
        margin-left: 10px;
        padding: 8px;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      #comment-value {
        font-weight: 400;
      }
    }
    #comment-text {
      font-size: 13px;
      font-weight: 500;
    }
  }
}
.post-card-margin {
  margin-top: 10px;
}
