.post-card{
  padding: 10px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  height: fit-content;
  img{
    width: 500px;
  }
}
.post-card-margin{
  margin-top: 20px;
}