.home {
  display: flex;
  justify-content: center;
  .home-center {
    margin-top: 50px;
    width: 33%;
    text-align: center;
    .start-btn {
      font-weight: 600;
      height: 40px;
      width: 100%;
    }
  }
}
