.room {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10vw;
  padding: 30vh 20vw;
}

.room .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 8px;
  padding: 40px 20px;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 30px;
  color: var(--color-primary);
  background-color: white;
}

.room {
  button {
    display: inline-block;
    border: none;
    font: inherit;
    padding: 0.8rem 2rem;
    border-radius: 6px;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
  }

  input {
    border: none;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .phone-icon {
    width: 20px;
    height: 20px;
    color: white;
  }
  .ellipsis-icon {
    width: 20px;
    height: 20px;
  }
}

.modal h3 {
  margin: 0;
  font-weight: normal;
}

.modal .container {
  display: flex;
  margin-top: 40px;
}

.modal button.secondary {
  margin-left: auto;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  margin-right: 20px;
}

.room .local {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 280px;
  height: 210px;
  border-radius: 8px;
  z-index: 10;
}

.room .remote {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.room .buttonsContainer {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;
}

.room .buttonsContainer .button {
  border: 2px solid transparent;
  padding: 24px;
  border-radius: 50%;
  font-size: 0;
  transition-property: border-color, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.room .buttonsContainer .button:hover {
  box-shadow: 0px 5px 10px #0000001a;
  border-color: transparent;
}

.room .buttonsContainer .hangup {
  margin-right: 50px;
  background-color: #ff694f;
  color: #ffffff;
}

.room .buttonsContainer .more {
  background-color: white;
  border-color: #dddddd;
  cursor: pointer;
}

.room .buttonsContainer .more .popover {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 100%;
  padding: 20px 0px;
  font-size: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 5px 10px #0000001a;
}

.room .buttonsContainer .more:focus-within .popover {
  visibility: visible;
}

.room .buttonsContainer .more .popover button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  color: black;
}

.room .buttonsContainer .more .popover button svg {
  margin-right: 20px;
}

video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
}
