.register-container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.register-image{
  width:60%;
  height: 100%;
}

.register-to-login{
  position: fixed;
  left: 0;
  bottom: 10px;
  padding: 15px 10px;
}

.register-to-login p{
  margin: 0px;
}

.register-to-login b{
  cursor: pointer;
}

.register-to-login b:hover{
  text-decoration: underline;
}



.register-form{
  padding: 0px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form button{
  margin-top: 20px;
  width: 100%;
}
.register-form .register-form-content + .register-form-content{
  margin-top: 10px;
}

.register-form-content{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .register-image{
    display: none;
  }
}