.register-container{
  width: 100%;
  height: 100vmin;
  display: flex;
}

.register-image{
  width:60%;
  height: 100%;
  background-image:url('./register.jpg');
  background-size: cover;
}

.register-to-login{
  position: fixed;
  left: 0;
  bottom: 10px;
  padding: 15px 10px;
}

.register-to-login p{
  margin: 0px;
}

.register-to-login b{
  cursor: pointer;
}

.register-to-login b:hover{
  text-decoration: underline;
}

.register-container{
  input{
    border: 1px solid black;
  }
  h2{
    font-size: 30px;
  }
  button{
    min-height: 50px;
  }
  .center{
    text-align: center;
    p{
      width: 70%;
      font-size: 13px;
      margin-top: 10px;
    }
  }

  .my-border{
    margin-top: 12px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgba(186, 186, 186, 0.87);
  }
  .or-txt{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .color-first{
    margin-left:10px; 
    cursor: pointer;
  }
  .signin-center{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.register-form{
  padding: 20px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form button{
  margin-top: 20px;
  width: 100%;
}
.register-form .register-form-content + .register-form-content{
  margin-top: 10px;
}

.register-form-content{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1500px) {
  .register-image{
    display: none;
  }
}