.search {
  .search-loading{
    
  }
  .search-container {
    width: 80%;
    padding: 20px;
    .user-card {
      margin-top: 3px;
    }
  }
  .form-connect {
    height: 30px;
    button {
      margin-left: 20px;
    }
  }
}
