.home-left {
  margin-right: 10px;
  width: 20%;
  .flex-this {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 821px) {
  .home-left {
    width: 90%;
    margin-bottom: 20px;
  }
}
