.footer {
  padding-top: 50px;
  padding-bottom: 100px;
  img {
    width: 200px;
  }
  .center {
    width: 100%;
  }

  .footer-border {
  }

  .border {
  }
  .link {
    .color-first + .color-first {
      margin-left: 20px;
    }

    width: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .copyright {
    font-size: 13px;
  }
}
